@import './../../sass/Veriabls.scss';

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: $color-secondary;
    height: 80vh;
    .headline {
        background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url('../../../public/img/hero.jpeg');

        h2 {
            font-family: $font-display;
            color: $color-primary;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        h1 {
            font-family: $font-display;
            font-size: 2.5rem;
            color: $color-grey-light-1;
            margin: 1.1% 0;
            font-weight: 400;
            
        }

        .title-container {
            margin: 10% 15%;
            h1{
                font-size: 1.5rem;
            }
        }

        button {
            padding: 15px 30px;
            background-color: $color-primary;
            color: $color-grey-light-1;
            font-family: $font-display;
            text-transform: uppercase;
            border: 0;
            margin-top: 2%;

            &:hover {
                background-color: $color-primary-dark;
            }
        }

        .seen-on {
            margin: 5% 15%;
            
            h3 {
                width: 25%;
                color: $color-grey-light-1;
                font-size: 1rem;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-display;
                font-weight: 300;
            }
           

            hr {
                width: 100%;
                color:  $color-grey-light-1;
            }


            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 3%;
                img {
                    width: 15%;
                    margin: 2%;
                }
            }
        }
    }

    .logo {
        display: flex;
        justify-content: center;

        img {
            width: 10%;
            margin: 2%;
        }
    }

    
}

@media (max-width: 769px) {
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 1fr;
        min-height: 100vh;
        height: auto;

        .logo{
            img{

                width:25%;
            }
        }

        .headline{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
}
.top-realtore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:$font-display;
    min-height: 500px;
    background-color: $color-secondary;
    
    
    .relators-container{
        width: 20vw;
    }


    .realtore{
        display: flex;
        align-items: center;
        margin-bottom: 10%;
        width: 15rem;
    }
    img{
        border-radius: 50%;
        width: 5rem;
        float:left;
        margin-right: 3%;
    }
    h2{
        color:$color-primary;
        font-weight: 300;
        margin-bottom: 3%;
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    h4 {
        color: $color-grey-light-1;
        text-transform: uppercase;
        font-weight: 300;
    }

    p {
        font-weight: 300;
        font-size: 1rem;
        color: $color-grey-light-1;
    }

}